
*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #000;
    font-family: 'Spline Sans';
}

main{
    margin: auto;
    width: 80vw;
}

.navbar-brand, .navbar-brand:hover {
    display: flex;
    align-items: center; 
    color: #fff;
    font-weight: bolder;
    font-size: 1.5em;
    justify-content: center;
}

.navbar-icon{
    height: 2em;
    width: 2.2em;
    margin-right: 0.7em;
}

.navbar-container{
    background-color: #a37ab6;
    padding: 0.6em;
}

.navbar{
    width: 100%;
    position:fixed;
    top: 0; 
    z-index: 1020;
    padding: 0;
}

.nav-item a, .nav-item a:hover{
    color: #fff;
}

.nav-item{
    border-radius: 10px;
    margin-right: 2em;
    background-color: #5D3587;
    padding: 0 1.5em;
}

.nav-item:hover{
    background-color: #c8a7d7e5;
    color: #fff;
}

.carousel{
    margin-top: 6em;
}

.carousel-item img{
    object-fit:cover;
    height: 85.5vh;
    position: relative;
    border-radius: 10px;
}

.carousel-caption{
    position: absolute;
    justify-content: center;
    font-size: 1.6em;
}

.card{
    box-shadow: 0 0 5px#00000063;
}

.review-header{
    text-align: center;
    text-transform: uppercase;
    background-color: #ddda;
    border: #cbc7c7 1px solid; 
    border-radius: 10px;
    margin-bottom: 1.5em;
    padding: 1em;
}

.review-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 2em;
    
}

.review-item{
    border: #cbc7c7 1px solid; 
    border-radius: 10px;
    margin: 1em;
    padding: 2em;
    box-shadow: 0 0 5px#00000063;
}

.bi-star, .bi-star-fill, .bi-star-half {
    color: rgb(252, 188, 15);
}

.author-opinion{
    font-style: italic;
    color: #000;
    margin-top: 0.5em;
}

.products{
    margin: 3em 0;
}

.carousel-title{
    font-size: 2.5em;
    color: #fff;
    text-transform: uppercase;
}

.card-price{
    text-align: center;
    color: #656565;
    font-weight: bold;
    font-size: 1.5em
}

.delete-button{
    background-color: #392467;
    border: none;
}

.delete-button:hover{
    background-color: #6d518b;
    border: none;
}

.delete-button:active{
    background-color: #A367B1 !important;
    border: none;
}

.add-button{
    background-color: #a37ab6; 
    border: none;
}

.add-button:hover{
    background-color: #9e5abd9b;
    border: none;
}

.add-button:active{
    background-color: #A367B1 !important; 
    border: none;
}

.footer-list-title-item{
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 2em;
    text-decoration: underline;
    text-underline-offset: 1em;
}

.footer-item{
    place-items: center;
}

.footer-list{
    list-style-type: none;
    text-align: start;
}

.footer-list-item-link{
    color: #ccc;
    text-decoration: none;
}

.footer-list-item-link:hover{
    text-decoration: underline;
    color: rgb(55, 55, 192);

}

.footer-list-item{
    margin-top: 0.7em;
}

.footer-container{
    width: 100vw;
    background-color:#666;    
}

.footer-grid{
    display: grid;
    grid-template-columns: 1.5fr 2fr 2.5fr;
    column-gap: 1em;
    margin: 3em 0 2em 0;
}

.footer-copyright{
    text-align: center;   
    color: white;
    padding-bottom: 1em;
}


/*---------------------------------------- MEDIA QUERY ------------------------------------------*/

@media (max-width:800px) and (min-width:200px){
    .review-grid {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
} 


@media (max-width:800px) and (min-width:200px){
    .form-container{
        flex-direction: column; 
        font-size: 1em;
    }
}

@media (max-width:800px) and (min-width:200px){
    .carousel-caption{
        font-size: 1.3em;
    }
}

/* --------------------------------------- FORM STYLES ---------------------------------------- */

.form-container{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    margin: 10em 0;
    
}

form{
    background-color: #ffffff;
    border: 2px solid #504d5055;
    border-radius: 5px;
    padding: 2em;
    box-shadow: 0 0 5px#00000063;
}

legend{
    font-weight: bolder;
    color: #444;
    font-size: 2em;
    padding: 0 0.5em;
}

label{
    color: #777;
    font-size: 1.5em;
    line-height: 2; 
    font-weight: bold;
}

fieldset{
    border: 2.2px solid #504d5055;
    border-radius: 5px;
    padding: 0.7em;
    margin-bottom: 1.8em;
    box-shadow: 0 0 5px#00000063;
}

.form_input{
    padding:0.7em;
}

textarea{
    resize: vertical;
    min-height: 5em;
    max-height: 8em;
}

.form button{
    color: #444;
    background-color:transparent;
    width: 100%;
    padding:0.5em;
    border: 1.5px solid #504d5055;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 0 0 5px#00000063;
}

.form button:hover{
    background-color:#5D3587;
    color: #fff;
}

.form input,.form textarea{
    background-color:transparent;
    width: 100%;
    padding:0.5em;
    border: none;
    border-top: 2px solid #504d5055;
    border-bottom: 2px solid #504d5055;
    border-radius: 7px;
    font-size: 0.6em;
}